<!DOCTYPE html>
<html lang="en"
    xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="wrapper fadeInDown">

    <div id="formContent">

        <div class="fadeIn first">
            <img src="https://static1-repo.aif.ru/1/e1/302872/c/273bb62e3c4174d97e5dbe6cf2b49a98.jpg" id="icon" alt="User Icon" />
        </div>

        <h1>You've just logged in! Congratulations!</h1>

        <form method="post" action="/logout">
            <input type="submit" class="fadeIn fourth" value="Log out">
        </form>
        <form method="get" action="/clients" th:if="${user.role.name == 'ADMIN'}">
            <input type="submit" class="fadeIn fourth" value="Clients">
        </form>

    </div>
</div>

</body>
</html>