/* BASIC */
.error,
.globalError {
  color: red;
  text-align: center;
  margin: 8px 8px 8px 8px;
}

/* INDEX */

/* header */
header {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1000;
}
.bg_menu {
  background-color: aquamarine;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
ul {
  list-style-type: none;
}
.li_item {
  padding: 0 10px;
}
a {
  color: black;
}
.li_item:hover {
  border-bottom: 2px solid brown;
  color: brown;
}

/* MAIN CONTENT */

.main {
  margin-top: 70px;
}
.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.main_content img {
  width: 80%;
}
.about_content {
  display: flex;
  justify-content: space-around;
  margin: 70px 0;
}
.about_content img {
  width: 400px;
  height: 200px;
}

/* FOOTER */
#foot {
  margin-top: 40px;
}
.foot_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-info {
  width: 70%;
}
.right-info {
}

/* login */
.sign-in,
.sign-up {
  margin: 70px auto;
  box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
}

.sign-in form,
.sign-up form {
  padding: 40px;
}
