<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${requiredUser.username}"></title>
<!--    <title>Profile</title>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--        <link rel="stylesheet" href="css/main.css">-->
    <link rel="stylesheet" href="css/stas_style.css">
</head>

<body>
<header>
    <div class="container-fluid bg_menu">
        <div class="navbar">
            <div class="nav-logo">
                <a th:href="@{/}">DeDentist?</a>
            </div>

            <div class="right-menu">
                <a th:href="@{/profile}">Profile</a>
                <a th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="profile">
        <div class="container" th:object="${requiredUser}">

            <br/>
            <br/>
            <br/>

            <img src="#" th:src="@{'/img/avatar/' + *{imageLink}}" width="250" height="250"/>
            <h2 th:text="|*{doctorData.firstName} *{doctorData.lastName}|"></h2>
            <p th:text="|Experience: *{doctorData.experienceAge} years|"></p>
            <p th:text="|Room: *{doctorData.room}|"></p>
            <p th:if="*{doctorData.description != null}" th:text="*{doctorData.description}"></p>
        </div>
    </section>

    <section th:if="${isAuthUserClient}" class="visits">

        <br/>
        <hr/>
        <br/>

        <div class="container">
            <h1 th:text="|Your visits (${#lists.size(allVisits)}):|"/>
            <th:block th:unless="${#lists.isEmpty(allVisits)}">
                <table>
                    <thead>
                    <tr>
                        <th>Doctor name</th>
                        <th>Complaint</th>
                        <th>Appoints at</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="visit : ${allVisits}" th:object="${visit}">
                        <td th:text="*{doctorData.firstName} + ' ' + *{doctorData.lastName}"/>
                        <td th:text="*{complaint}"/>
                        <td th:text="${#temporals.format(visit.appointsAt, 'dd-MM-yyyy HH:mm')}"/>
                        <td th:text="*{status}"/>
                    </tr>
                    </tbody>
                </table>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(allSentAndActiveVisits)}">

                <br/>

                <h1 th:text="'Manage requests:'"></h1>
                <div>
                    <h4 th:text="'Cancel:'"></h4>
                    <form th:action="@{/visit/cancel}" th:object="${cancelRequest}" method="post">
                        <input th:name="redirectLink" th:value="${redirectLink}" hidden/>

                        <select th:field="*{visitId}">
                            <option th:each="visit : ${allSentAndActiveVisits}"
                                    th:value="${visit.id}"
                                    th:text="|ID: ${visit.id}, Name: ${visit.doctorData.firstName} ${visit.doctorData.lastName}|">

                            </option>
                        </select>

                        <br/>

                        <button type="submit">Cancel</button>
                    </form>
                </div>
            </th:block>
        </div>
    </section>

    <section th:if="${isAuthUserClient}" class="make-appointment">

        <br/>
        <hr/>
        <br/>

        <div class="container">
            <h1>Make an appointment with this specialist:</h1>
            <p th:if="${sendVisitError != null}" th:text="${sendVisitError.defaultMessage}" th:class="error"/>
            <form th:action="@{/visit/send}" th:object="${sendRequest}" method="post">
                <input th:name="redirectLink" th:value="${redirectLink}" hidden/>

                <div id="send">
                    <span>Describe your complaint</span>
                    <textarea th:field="*{complaint}" class="form-control"></textarea>
                    <p th:if="${sendRequest_complaintError != null}" th:text="${sendRequest_complaintError.defaultMessage}"
                       th:class="error"></p>

                    <input th:name="doctorDataId" th:value="${requiredUser.doctorData.id}" hidden>

                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </section>

    <br/>
    <br/>
    <br/>

</main>

</body>
</html>