<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="navbar">
            <div class="nav_logo">
                <a th:href="@{/}">DeDentist?</a>
            </div>

            <div class="right-menu">
                <a th:href="@{/profile}">Profile</a>
                <a th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </div>
</header>

<!-- sam -->
<main>
    <div>
        <h2>POST FORM</h2>
        <form th:action="@{/profile/add}" method="post" th:object="${client}">

            <!--        <input type="text" th:field="*{id}" placeholder="id" required/>-->
            <input type="text" th:field="*{name}" placeholder="name" required/>
            <button type="submit">CLICK</button>

        </form>
    </div>

    <hr/>

    <div th:unless="${#lists.isEmpty(allClients)}">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${allClients}">
                <td th:text="${client.id}">Admin_1</td>
                <td th:text="${client.name}">Admin</td>
            </tr>
            </tbody>
        </table>

        <hr/>

        <div>
            <h2>PUT FORM</h2>
            <form th:action="@{/profile/save}" action="#" method="post">

                <input type="text" th:name="id" placeholder="id" required/>
                <input type="text" th:name="name" placeholder="name" required/>
                <button type="submit">CLICK</button>

            </form>
        </div>
    </div>
</main>
</body>
</html>