<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--        <link rel="stylesheet" href="css/main.css">-->
    <link rel="stylesheet" href="css/stas_style.css">
</head>

<body>
<header>
    <div class="container-fluid bg_menu">
        <div class="navbar">
            <div class="nav-logo">
                <a th:href="@{/}">DeDentist?</a>
            </div>

            <div class="right-menu">
                <a th:href="@{/profile}">Profile</a>
                <a th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="profile">
        <div class="container" th:object="${requiredUser}">

            <br/>
            <br/>
            <br/>

            <img th:src="@{'/img/avatar/' + *{imageLink}}" width="250" height="250"/>
            <h2 th:text="|*{doctorData.firstName} *{doctorData.lastName}|"/>
            <p th:text="|Experience: *{doctorData.experienceAge} years|"/>
            <p th:text="|Room: *{doctorData.room}|"/>
        </div>
    </section>

    <br/>
    <hr/>
    <br/>

    <section th:if="${isAuthUserClient}" class="make-appointment">
        <div class="container">
            <h1>Make an appointment with this specialist:</h1>
            <form th:action="@{/visit/send}" th:object="${visitToSend}" method="post">
                <!--                <div class="input-group">-->
                <!--                    <span class="input-group-text">describe your complaint</span>-->
                <!--                    <textarea class="form-control" aria-label="With textarea"></textarea>-->
                <!--                    <button type="submit">sign up</button>-->
                <!--                </div>-->
                <div>
                    <span>Just describe your trouble</span>
                    <textarea th:field="*{complaint}" class="form-control"></textarea>
                    <input th:name="doctorDataId" th:value="${requiredUser.doctorData.id}" hidden>

                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </section>
</main>

</body>
</html>