<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<h1>You've just logged in! Congratulations!</h1>

<form method="post" action="/logout">
    <input type="submit" class="fadeIn fourth" value="Log out">
</form>
<form method="get" action="/clients">
    <input type="submit" class="fadeIn fourth" value="Clients">
</form>

</body>
</html>