<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
    <div class="sign-up">
        <form th:object="${request}" th:action="@{/registration}" method="post">
            <div class="mb-3">
                <label for="first-name" class="form-label">First Name</label>
                <input type="text" th:field="*{firstName}" class="form-control" id="first-name">
            </div>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error"/>

            <div class="mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input type="text" th:field="*{lastName}" class="form-control" id="last-name">
            </div>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error"/>

            <div class="mb-3">
                <label for="date-of-birth" class="form-label">Date of Birth (DD-MM-YYYY)</label>
                <input type="text" th:field="*{dateOfBirthInput}" class="form-control" id="date-of-birth">
            </div>
            <p th:if="${#fields.hasErrors('dateOfBirthInput')}"
               th:errors="*{dateOfBirthInput}" th:errorclass="error"/>
            <p th:if="${!#fields.hasErrors('dateOfBirthInput')} and ${#fields.hasErrors('dateOfBirth')}"
               th:errors="*{dateOfBirth}" th:errorclass="error"/>

            <div class="mb-3">
                <label for="passport-id" class="form-label">Password Id</label>
                <input type="text" th:field="*{passportId}" class="form-control" id="passport-id">
            </div>
            <p th:if="${#fields.hasErrors('passportId')}" th:errors="*{passportId}" th:errorclass="error"/>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" th:field="*{username}" class="form-control" id="username">
            </div>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error"/>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" th:field="*{email}" class="form-control" id="email">
            </div>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"/>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" th:field="*{password}" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="repeated-password" class="form-label">Repeat Your Password</label>
                <input type="password" th:field="*{repeatedPassword}" class="form-control" id="repeated-password">
            </div>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"/>

            <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}" th:class="globalError" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>